# Fun Personal Project

This is just a personal data analysis project that I did for fun.

Source: This data is from: https://www.kaggle.com/datasets/joyshil0599/mlb-hitting-and-pitching-stats-through-the-years

I am specifically only using the baseball_hitting.csv.

Broad explanation of data: The person who published this dataset on kaggle, JOY SHIL, explains that this "dataset on all-time baseball hitting and pitching provides a comprehensive collection of historical performance data in Major League Baseball (MLB)".

In [3]:
import pandas as pd

In [5]:
df_csv = pd.read_csv("baseball_hitting.csv")

In [7]:
df_csv.head()

,Player name,position,Games,At-bat,Runs,Hits,Double (2B),third baseman,home run,run batted in,a walk,Strikeouts,stolen base,Caught stealing,AVG,On-base Percentage,Slugging Percentage,On-base Plus Slugging
0,B Bonds,LF,2986.0,9847.0,2227.0,2935.0,601.0,77.0,762.0,1996.0,2558.0,1539,514.0,141,0.298,0.444,0.607,1.051
1,H Aaron,RF,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383,240.0,73,0.305,0.374,0.555,0.929
2,B Ruth,RF,2504.0,8399.0,2174.0,2873.0,506.0,136.0,714.0,2213.0,2062.0,1330,123.0,117,0.342,0.474,0.690,1.164
3,A Pujols,1B,3080.0,11421.0,1914.0,3384.0,686.0,16.0,703.0,2218.0,1373.0,1404,117.0,43,0.296,0.374,0.544,0.918
4,A Rodriguez,SS,2784.0,10566.0,2021.0,3115.0,548.0,31.0,696.0,2086.0,1338.0,2287,329.0,76,0.295,0.380,0.550,0.930

#### counting the amount of players

In [10]:
df_csv['Player name'].count()

2500

#### renaming the columns

In [13]:
df_1 = df_csv.rename(columns = {'Player name': 'player_name'})
df_2 = df_1.rename(columns = {'Double (2B)': 'double_2B'})
df_3 = df_2.rename(columns = {'third baseman': 'third_baseman'})
df_4 = df_3.rename(columns = {'home run': 'home_run'})
df_5 = df_4.rename(columns = {'run batted in': 'run_batted_in'})
df_6 = df_5.rename(columns = {'a walk': 'a_walk'})
df_7 = df_6.rename(columns = {'stolen base': 'stolen_base'})
df_8 = df_7.rename(columns = {'Caught stealing': 'caught_stealing'})
df_9 = df_8.rename(columns = {'On-base Percentage': 'on_base_percentage'})
df_10 = df_9.rename(columns = {'Slugging Percentage': 'slugging_percentage'})
df_11 = df_10.rename(columns = {'On-base Plus Slugging': 'on_base_plus_slugging'})
df = df_11.rename(columns = {'At-bat': 'At_bat'}) #final dataframe with all the last changes

df.head()

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
0,B Bonds,LF,2986.0,9847.0,2227.0,2935.0,601.0,77.0,762.0,1996.0,2558.0,1539,514.0,141,0.298,0.444,0.607,1.051
1,H Aaron,RF,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383,240.0,73,0.305,0.374,0.555,0.929
2,B Ruth,RF,2504.0,8399.0,2174.0,2873.0,506.0,136.0,714.0,2213.0,2062.0,1330,123.0,117,0.342,0.474,0.690,1.164
3,A Pujols,1B,3080.0,11421.0,1914.0,3384.0,686.0,16.0,703.0,2218.0,1373.0,1404,117.0,43,0.296,0.374,0.544,0.918
4,A Rodriguez,SS,2784.0,10566.0,2021.0,3115.0,548.0,31.0,696.0,2086.0,1338.0,2287,329.0,76,0.295,0.380,0.550,0.930

### 1. find the players that have at least 700 home runs

In [16]:
df[df['home_run'] >= 700.0]

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
0,B Bonds,LF,2986.0,9847.0,2227.0,2935.0,601.0,77.0,762.0,1996.0,2558.0,1539,514.0,141,0.298,0.444,0.607,1.051
1,H Aaron,RF,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383,240.0,73,0.305,0.374,0.555,0.929
2,B Ruth,RF,2504.0,8399.0,2174.0,2873.0,506.0,136.0,714.0,2213.0,2062.0,1330,123.0,117,0.342,0.474,0.690,1.164
3,A Pujols,1B,3080.0,11421.0,1914.0,3384.0,686.0,16.0,703.0,2218.0,1373.0,1404,117.0,43,0.296,0.374,0.544,0.918

### 2. find the players who have batted more than 2000 runs in #print(df.dtypes)

In [19]:
print(df.dtypes)

player_name               object
position                  object
Games                    float64
At_bat                   float64
Runs                     float64
Hits                     float64
double_2B                float64
third_baseman            float64
home_run                 float64
run_batted_in            float64
a_walk                   float64
Strikeouts                object
stolen base              float64
caught_stealing           object
AVG                      float64
on_base_percentage       float64
slugging_percentage      float64
on_base_plus_slugging    float64
dtype: object

In [21]:
df[df['run_batted_in'] >= 2000.0]

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
1,H Aaron,RF,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383,240.0,73,0.305,0.374,0.555,0.929
2,B Ruth,RF,2504.0,8399.0,2174.0,2873.0,506.0,136.0,714.0,2213.0,2062.0,1330,123.0,117,0.342,0.474,0.690,1.164
3,A Pujols,1B,3080.0,11421.0,1914.0,3384.0,686.0,16.0,703.0,2218.0,1373.0,1404,117.0,43,0.296,0.374,0.544,0.918
4,A Rodriguez,SS,2784.0,10566.0,2021.0,3115.0,548.0,31.0,696.0,2086.0,1338.0,2287,329.0,76,0.295,0.380,0.550,0.930

### 3. find the average amount of games played by these players

In [24]:
df.Games.mean()

1084.558

### 4. find the average amount of at-bats between these players

In [27]:
df.At_bat.mean()

3714.962

### 5. find the standard deviation of these players getting walked

In [30]:
df.a_walk.std()

297.48089570478896

Explanation/Observations: Since the standard deviation is a large number, that means the data is pretty spread out. Therefore, the amount of walks these players got varies greatly.

### 6. find the variance of these players getting a double

In [34]:
df.double_2B.var()

15493.844173669526

Explanation/Observations: Since this is a large variance, that means that the data is pretty spread out from the mean. Therefore, the amount of doubles that these players hit varies greatly.

### 7. find which of these players made the most homeruns

In [38]:
max_homeruns = df['home_run'].max() #finding max amount of homeruns made by a player(s)
print(max_homeruns)

762.0

In [40]:
df[df['home_run'] == max_homeruns] #finding which player(s) hit the max_homeruns

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
0,B Bonds,LF,2986.0,9847.0,2227.0,2935.0,601.0,77.0,762.0,1996.0,2558.0,1539,514.0,141,0.298,0.444,0.607,1.051

### 8. find which of these players got the most runs batted in

In [43]:
max_runsbattedin = df['run_batted_in'].max() #finding max amount of runs batted in by a player(s)
print(max_runsbattedin)

2297.0

In [45]:
df[df['run_batted_in'] == max_runsbattedin] #finding which player(s) got the most runs batted in

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
1,H Aaron,RF,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383,240.0,73,0.305,0.374,0.555,0.929

### 9. find which of these players got the most hits

In [48]:
max_hits = df['Hits'].max() #finding max amount of hits made by a player(s)
print(max_hits)

4256.0

In [50]:
df[df['Hits'] == max_hits] #finding which player(s) got the most hits

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
446,P Rose,1B,3562.0,14053.0,2165.0,4256.0,746.0,135.0,160.0,1314.0,1566.0,1143,198.0,149,0.303,0.375,0.409,0.784

### 10. find which players attended the least amount of games

In [53]:
min_games = df['Games'].min() #finding min amount of games attended by a player(s)
print(min_games)

2.0

In [55]:
df[df['Games'] == min_games] #finding which player(s) attended the least amount of games

,player_name,position,Games,At_bat,Runs,Hits,double_2B,third_baseman,home_run,run_batted_in,a_walk,Strikeouts,stolen base,caught_stealing,AVG,on_base_percentage,slugging_percentage,on_base_plus_slugging
773,D Brouthers,1B,2.0,6711.0,1523.0,2296.0,460.0,205.0,106.0,1296.0,840.0,238,256.0,--,0.342,0.423,0.519,0.942

Explanation/Observations: D Brouthers attended only 2 games but had 6711.0 at bats which doesn't make a lot of sense. So, at least for this player, this data might not be completely accurate.

### 11. find the most common positions that these players play

In [69]:
most_common_position = df['position'].value_counts().index[1] #index[1] specifies the column 'position'
print(most_common_position)

C

Explanation/Observations: C is the most common position which means that most of these players are catchers.

### 12. find the most common amount of homeruns hit

In [73]:
most_common_homeruns = df['home_run'].value_counts().index[8] #index[8] specifies the column 'position'
print(most_common_homeruns)

25.0